<div class="row">
  <div class="col-md-6 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center">REGISTRO DE ESTUDIANTES</h1>
        <form (submit)="onSubmitAddStudent()">
          <div class="form-group">
            <label for="nombres">Nombres</label>
            <input type="text" name="nombres" id="nombres" [(ngModel)]="nombres" class="form-control">
          </div>
          <div class="form-group">
            <label for="apellidos">Apellidos</label>
            <input type="text" name="apellidos" id="apellidos" [(ngModel)]="apellidos" class="form-control">
          </div>
          <div class="form-group">
            <label for="tipoIdentificacion">Tipo identificación</label>
            <input type="text" name="tipoIdentificacion" id="tipoIdentificacion" [(ngModel)]="tipoIdentificacion" class="form-control">
          </div>
          <div class="form-group">
            <label for="identificacion">Identificación</label>
            <input type="text" name="identificacion" id="identificacion" [(ngModel)]="identificacion" class="form-control">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" [(ngModel)]="email" class="form-control">
          </div>
          <div class="form-group">
            <label for="direccion">Dirección</label>
            <input type="text" name="direccion" id="direccion" [(ngModel)]="direccion" class="form-control">
          </div>
          <div class="form-group">
            <label for="celular">Celular</label>
            <input type="text" name="celular" id="celular" [(ngModel)]="celular" class="form-control">
          </div>
          <div class="form-group">
            <label for="pais">País</label>
            <input type="text" name="pais" id="pais" [(ngModel)]="pais" class="form-control">
          </div>
          <div class="form-group">
            <label for="departamento">Departamento</label>
            <input type="text" name="departamento" id="departamento" [(ngModel)]="departamento" class="form-control">
          </div>
          <div class="form-group">
            <label for="ciudad">Ciudad</label>
            <input type="text" name="ciudad" id="ciudad" [(ngModel)]="ciudad" class="form-control">
          </div>
          <div class="form-group">
            <label for="fechaNacimiento">Fecha de nacimiento</label>
            <input type="text" name="fechaNacimiento" id="fechaNacimiento" [(ngModel)]="fechaNacimiento" class="form-control">
          </div>
          <div class="form-group">
            <label for="sexo">Sexo</label>
            <select name="sexo" id="sexo" class="form-control">
              <option>Femenino</option>
              <option>Masculino</option>
            </select>
          </div>
          <input type="submit" value="Guardar" class="btn btn-primary btn-block btn-lg">
        </form>
      </div>
    </div>
  </div>
